.how {
  background-color: var(--white);
  block-size: 48.4375rem;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 12.5rem;
}

.how-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-inline-size: 458px;
}

.how-content h2 {
  color: var(--black);
  font: var(--headline2);
  margin-block-end: 1.5rem;
}

.how-content h2 + p {
  margin-block-start: 0;
}