.transaction {
  background-color: var(--white);
  block-size: 48.4375rem;
  background-image: url('../images/transaction-background.png');
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.transaction-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-inline-size: 28.625rem;
}

.transaction-content h2 {
  color: var(--black);
  font: var(--headline2);
  margin-block-end: 1.5rem;
}

.transaction-content h2 + p {
  margin-block-start: 0;
}